<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Universis Project | Twitter Connect</title>
  <!-- Universis theme core CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@universis/theme@1.1.2/css/universis.css"
    integrity="sha256-eiB6rNZqEPbZYMS4jEsZNCceohe6OhJn7knaBKgrCJY=" crossorigin="anonymous">
  <style>
    .message-container {
      position: absolute;
      height: 100%;
      width: 100%;
      padding: 0;
      margin: -8px 0 0 -8px;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: none;
    }
  </style>
</head>

<body>

  <main>
    <div class="container message-container">
      <div class="p-4 card" style="width: 24rem;">
        <img class="card-img-top" src="https://api.universis.io/images/universis_256.png" alt="Universis">
        <div class="card-body">
          <div>
            <a class="btn btn-secondary" href="login">Login</a>
          </div>
        </div>
      </div>
    </div>
  </main><!-- /.container -->

  <!-- Bootstrap core JavaScript
================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha256-/ijcOLwFf26xEYAjW75FizKVo5tnTYiQddPZoLUHHZ8=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
    integrity="sha256-2JaAhvdQnfNMMnhWPauHOZ2k+dzftBmBjjownu3HC4g=" crossorigin="anonymous"></script>
</body>

</html>