<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Universis Project | Twitter Authorization</title>
  <!-- Universis theme core CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@universis/theme@1.1.2/css/universis.css"
    integrity="sha256-eiB6rNZqEPbZYMS4jEsZNCceohe6OhJn7knaBKgrCJY=" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <style>
    .fa-10x {
      font-size: 10rem;
    }

    .message-container {
      position: absolute;
      height: 100%;
      width: 100%;
      padding: 0;
      margin: -8px 0 0 -8px;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: none;
    }
  </style>
</head>

<body>

  <main>
    <div class="container message-container">
      <% if (ok) { %>
        <div class="d-flex flex-row justify-content-center">
          <div class="px-4 py-md-3">
            <div class="d-flex justify-content-center">
              <!-- <img src="#" class="rounded-circle" style="width: 48px;" alt="Avatar" /> -->
            </div>
            <h3 class="pt-3 text-center">
              @<%= model.data.username %>
            </h3>
            <div class="text-muted text-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-twitter" viewBox="0 0 16 16">
                <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"/>
              </svg>
              &nbsp;Connected to Twitter.
            </div>
            <div class="text-center text-muted small">
              You will be redirected to your profile in 5 seconds.
            </div>
            <div class="text-center pt-5"></div>
          </div>
        </div>
      <% } else { %>
        <div class="col-md-8 col-sm-10 col-xs-10">
          <div class="d-flex flex-row justify-content-center">
            <i class="fa fa-frown-o fa-10x text-secondary" title="E404"></i>
          </div>
          <div class="d-flex flex-row justify-content-center">
            <div class="px-4 py-md-3">
              <h3 class="pt-3 text-center">
                An error occured
              </h3>
              <h5 class="text-muted text-center">
                <%= error.message %>
              </h5>
              <div class="text-muted text-center">
                <a href="user">Return</a>
              </div>
              <div class="text-center pt-5"></div>
            </div>
          </div>
        </div>
      <% } %>
    </div>
  </main><!-- /.container -->

  <!-- Bootstrap core JavaScript
================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha256-/ijcOLwFf26xEYAjW75FizKVo5tnTYiQddPZoLUHHZ8=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
    integrity="sha256-2JaAhvdQnfNMMnhWPauHOZ2k+dzftBmBjjownu3HC4g=" crossorigin="anonymous"></script>

  <% if (ok) { %>
    <script type="text/javascript">
      $(document).ready(function () {
        setTimeout(function () {
          window.location.href = "user";
        }, 5000);
      });
    </script>
  <% } %>
</body>

</html>